In [1]:
import pandas as pd 
import json

### turning to a std json file

In [2]:
data = []

in_file = 'taxi_small.json'
out_file = 'taxi-converted.json'

with open(in_file, 'r') as f:
    for line in f:
        if (line.find("{") > -1):
            entry = line[line.find("{"):line.rfind("}")]+"}"
            data.append(json.loads(entry))

In [3]:
with open(out_file, 'w') as f:
    f.write(json.dumps(data))

In [7]:
pd.DataFrame(data).to_csv('taxi-converted.csv', index = False)

### database connection

In [12]:
from mysql.connector import connect

conn = connect(host = "localhost",user = "root", password = "", db= "testdb") 

cursor = conn.cursor()

In [13]:
cursor.execute("insert into testtable values ('dfo7','9bn7')")
conn.commit()

In [14]:
cursor.execute('select * from testtable')
result = cursor.fetchall()

### table to csv

In [16]:
pd.DataFrame(result).to_csv('table.csv', index=False)